---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Banner from '../components/Banner.astro';
import Slider from '../components/Slider.astro';
import Waylosophy from '../sections/Waylosophy.astro';
import Location from '../sections/Location.astro';
import Loader from '../components/Loader.astro';
---

<Layout title="Home - Wayra">
	<Hero/>
	<Banner
		heading="concept life"
		title="the comfort of experiencing the essential"
		text="Wayra seeks to create a new paradigm of urban enjoyment centered around comfort, excellence, and experience."
	>
		<Button link="/" dark>MORE INFORMATION</Button>
	</Banner>
	<Slider>
		<img slot="firstRow" src="/images/gym.avif" alt="Gimnasio en Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="firstRow" src="/images/pileta.avif" alt="Pileta en Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="firstRow" src="/images/lobby.avif" alt="Lobby de Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="firstRow" src="/images/hero-render.webp" alt="Entrada Wayra" class="max-w-[400px] md:max-w-[600px]"/>

		<img slot="secondRow" src="/images/pileta2.avif" alt="Pileta en Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="secondRow" src="/images/balcon.webp" alt="Terraza en Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="secondRow" src="/images/chef.avif" alt="Restaurante en Wayra" class="max-w-[400px] md:max-w-[600px]"/>
		<img slot="secondRow" src="/images/frente2.avif" alt="Frente del edificio" class="max-w-[400px] md:max-w-[600px]"/>
	</Slider>
	<Waylosophy/>
	<Location/>
	<Loader/>
</Layout>
