<footer class="bg-[var(--dark)] flex justify-center py-16 relative">
    <div class="content-wrapper flex flex-col md:flex-row justify-between items-center w-full gap-12">
        <div class="flex flex-col items-center justify-center gap-4 sm:justify-between flex-wrap">
            <img src="/images/logo-wayra.png" alt="Logo Wayra" class="max-w-[200px]">
            <span>Guayra 1530, Nuñez, CABA</span>
        </div>
     
            <div class="flex flex-col items-start gap-2">
                <span>Development by</span>
                <div class="flex justify-center items-center gap-4 flex-col md:flex-row">
                    <img src="/images/gewin.png" alt="Logo Gewin" class="max-w-[200px]">
                    <span class="pl-3 text-3xl">+</span>
                    <img src="/images/pellegrinet-chico.png" alt="Logo Pellegrinet" class="max-w-[240px]">
                    <span class="pl-3 text-3xl">+</span>
                    <img src="/images/cedu-footer.png" alt="Logo CEDU" class="max-w-[240px]">
                </div>
        </div>
    </div>
</footer>