<section class="services-container">
    <div class="services">
      <div class="services__card">
        <div class="services__card-img">
          <img src="/images/depto.jpg" alt="Departamento amplio" />
          <h2 class="text-xl md:text-3xl">Temporary rental apartments</h2>
        </div>
        <div class="h-[20px] w-full bg-[var(--nature)] absolute bottom-0"></div>
      </div>
      <div class="services__card">
        <div class="services__card-img"
          ><img src="/images/oficina.jpg" alt="Oficina" />
          <h2 class=" text-xl md:text-3xl">Offices y Coworking</h2>
        </div>
        <div class="h-[20px] w-full bg-[var(--orange)] absolute bottom-0"></div>
      </div>
      <div class="services__card">
        <div class="services__card-img"
          ><img src="/images/gastro-experience.jpg" alt="Bar en terraza" />
          <h2 class=" text-xl md:text-3xl">Foody experience</h2>
        </div>
        <div class="h-[20px] w-full bg-[var(--gum)] absolute bottom-0"></div>
      </div>
      <div class="services__card">
        <div class="services__card-img"
          ><img src="/images/hero.jpg" alt="Entrada del edificio" />
          <h2 class="w-[300px] text-xl md:text-3xl">Lifestyle as a service</h2>
        </div>
        <div class="h-[20px] w-full bg-[var(--blackish)] absolute bottom-0"></div>
      </div>
    </div>
  </section>
