<section class="flex flex-col gap-[10px] py-[10px]">
    <div class="scroller" data-direction="right" data-speed="slow">
        <div>
            <slot name="firstRow"/>
        </div>
    </div>
    <div class="scroller" data-direction="left" data-speed="slow">
        <div>
            <slot name="secondRow"/>
        </div>
    </div>
</section>