---
import Banner from "../components/Banner.astro"
---

<section class="flex items-center flex-col pb-24">
    <Banner
        heading="nuñez: the new innovation district"
        title="the fusion of exclusivity, accessibility, and well-being"
        text="Nuñez is one of the fastest-growing neighborhoods in recent years, distinguished by its attractive combination of natural green spaces, sports clubs, commercial areas, residential zones, and recreational spaces, offering a unique environment in the city."
    />
    <div class="w-full content-wrapper">
        <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1982704956195!2d-58.4561823!3d-34.548535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb425f2199393%3A0x1e45617fc7f7cbf9!2sGuayra%201530%2C%20C1429%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2sus!4v1727135642419!5m2!1ses-419!2sus" width="1200" height="500" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>