---
import Banner from "../components/Banner.astro";
import Button from "../components/Button.astro";
import ServicesGallery from "../components/ServicesGallery.astro";
---

<section>
    <Banner
		heading="innovative offerings"
		text="A selection of services designed to elevate your daily life, making every moment more comfortable and effortless."
	>
	</Banner>
    <ServicesGallery/>
</section>