---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Wayra is a high-end residential development located in Nuñez, Buenos Aires.">
		<meta name="keywords" content="Real Estate, Residential Development, Housing">
		<meta name="author" content="Joaquin Mesa">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-JDSY4WFKDW"></script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-JDSY4WFKDW');
		</script>
		<title>{title}</title>
	</head>
	
	<body>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	 @font-face {
    font-family: "FontSpring";
    src: url("/fonts/fontspring.otf") format("opentype");
  }
	 @font-face {
    font-family: "FontSpring";
    src: url("/fonts/fontspring-b.otf") format("opentype");
	font-weight: 600;
  }
	:root {
		--dark: #191919;
		--white: #ffffff;
		--black: #000000;
	}
	html{
		font-family: 'DM Sans Variable', sans-serif;
		box-sizing: border-box;
		scroll-behavior: smooth;
		color: #fff;
	}
	h1, h2{
		font-family: "FontSpring", sans-serif;
	}
	.wrapper{
		max-width: 1600px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.content-wrapper{
		max-width: 1200px;
		padding-right: 1rem;
		padding-left: 1rem;
	}
</style>
